title = "Blog"
url = "/blog/category/:slug/:page"
layout = "noSidebar"
description = "This is the blog for the side, displaying logs in a simple layout with no sidebar."
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"`
categoryPage = "Blog"
postPage = "Blog"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "Blog"
==
<?php
function onStart()
{
    $this->addCss('assets/css/blogHomepage.css');
}
?>
==
<main class="pt-0">
    <!--Main layout-->
    <div class="container">
        <div class="row">

            <!--Main column-->
            <div class="col-lg-8">  
                <h1>{{'blog.title'|__}}</h1>          
                <hr class="pb-5">     
                <ul class="post-list">
                    {% set posts = blogPosts.posts %}
                    {% for post in posts %}
                      <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                            <!--Post data-->
                            <h1 class="h1-responsive dark-grey-text font-bold">{{post.title}}</h1>
                            <h6>{{'blog.publishedAt'|__}} {{post.published_at}}</h6>
                            <br>
                            <!--Featured image -->
                            {% if post.featured_images.count %}
                            <div class="view overlay hm-white-light z-depth-1-half rounded">
                                <img src="{{post.featured_images[0].path}}" class="img-fluid" alt="">
                                <div class="mask">
                                </div>
                            </div>
                            {% endif %}
                            <br>
                            <!--Post excerpt-->
                            {{post.summary|raw}}
                            <!--"Read more" button-->
                            <a target="_blank" href="/post/{{post.slug}}" class="btn btn-outline-accent btn-md">{{'blog.postBtn'|__}}
                                <i class="fa fa-chevron-right ml-1"></i>
                            </a>
                      </div>
                      <!--/.Post-->

                      <hr class="mt-5">
                    {% else %}
                        <li class="no-data">{{ blogPosts2.noPostsMessage }}</li>
                    {% endfor %}
                </ul>
                {% if posts.lastPage > 1 %}
                    <ul class="pagination">
                        {% if posts.currentPage > 1 %}
                            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev </a></li>
                        {% endif %}
                
                        {% for page in 1..posts.lastPage %}
                            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">&nbsp{{ page }}&nbsp;</a>
                            </li>
                        {% endfor %}
                
                        {% if posts.lastPage > posts.currentPage %}
                            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}"> Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>                
            <!--Sidebar-->
            <div class="col-lg-4">
                {% if blogCategories.categories|length > 0 %}
                <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                    <h4 class="font-bold dark-grey-text">{{'blog.categories'|__}}:</h4>
                    <br>
                    <div class="list-group">
                        {% for category in blogCategories.categories %}
                            {% set postCount = category.post_count %}
                            <a 
                              class="list-group-item blog-category-list-item {% if category.slug == blogCategories.currentCategorySlug %}active-primary{% endif %}"
                              href="{{ category.url }}"
                              >                            
                              {{ category.name }}
                            </a> 
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <p>{{'blog.noCategories'|__}}.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--/.Main layout-->
</main>