title = "Investment platform"
url = "/investment-platform/:type?/:name?"
layout = "app-theme"
description = "The single page investment platform application"
is_hidden = 0

[communitiesList]

[successStoriesList]

[pointsOfInterestList]

[opportunitiesList]

[investmentSearch]

[regionsList]

[featured]

[mapMarkers]
==
<?php

    use BL\RegionalInvestment\Models\Region;
    use BL\RegionalInvestment\Models\Community;
    use BL\RegionalInvestment\Models\BusinessType;
    use BL\RegionalInvestment\Models\InvestmentOpportunity;
    use BL\RegionalInvestment\Models\SuccessStory;
    use BL\RegionalInvestment\Models\PointOfInterest;
    use BL\Maps\Models\Map;

    function onStart(){
      $type = $this->param('type');
      $name = $this->param('name');

      $communities = [];
      $successStories =  [];
      $opportunities = [];
      $pointsOfInterest = [];
      $primary = false;

      $translator = RainLab\Translate\Classes\Translator::instance();
      $locale = $translator->getLocale();
      
      $businessTypes = BusinessType::all();
      $businessTypesLocalized = [];
      foreach ($businessTypes as $item) {
        $businessTypesLocalized[$item->id] = $item->getAttributeTranslated('name', $locale);
      }

      $communityObjs = Community::where('published',1)->get();
      $communitiesLocalized = [];
      $selectedCommunityId = '';
      foreach ($communityObjs as $item) {
        $communitiesLocalized[$item->id] = ["name"=>$item->getAttributeTranslated('name', $locale), "slug"=>$item->slug];
        if ($item->slug == $name)
            $selectedCommunityId = $item->id;
      }

      if($type =='region'){
        $featured = Region::where('slug', $name)->first();
        $successStories =  SuccessStory::getLocalized();
        $opportunities = InvestmentOpportunity::getLocalized();
        $pointsOfInterest = PointOfInterest::getLocalized();
        $communities = Community::getLocalized();
      } elseif( $type =='community') {
        $featured = Community::where('slug', $name)->first();
        $successStories =  SuccessStory::getLocalized();
        $opportunities = InvestmentOpportunity::getLocalizedByCommunitySlug($name);
        $pointsOfInterest = PointOfInterest::getLocalized();
        $communities = Community::getLocalized();
      } elseif( $type =='pointOfInterest') {
        $featured = PointOfInterest::where('slug', $name)->first();
        $opportunities = InvestmentOpportunity::getLocalized();
        $pointsOfInterest = PointOfInterest::getLocalized();
        $communities = Community::getLocalized();
      } elseif( $type =='successStory') {
        $featured = Organization::where('slug', $name)->first();
        $successStories =  SuccessStory::getLocalized();
        $opportunities = InvestmentOpportunity::getLocalized();
        $communities = Community::getLocalized();
      } elseif( $type =='opportunity') {
        $featured = InvestmentOpportunity::with('business_types')->with('success_stories')->with('points_of_interest')->where('slug', $name)->first();
      } else {
        $type = 'platform';
        $successStories =  SuccessStory::getLocalized();
        $featured = Region::getLocalized()->where('primary', 1)->first();
        $opportunities = InvestmentOpportunity::getLocalized();
        $pointsOfInterest = PointOfInterest::getLocalized();
        $communities = Community::getLocalized();
        $primary = true;
      }

      $this['type'] = $type;
      $this['name'] = $name;
      $this['featured'] = $featured;
      $this['communities'] = $communities;
      $this['opportunities'] = $opportunities;
      $this['successStories'] = $successStories;
      $this['pointsOfInterest'] = $pointsOfInterest;
      $this['primary'] = $primary;
      $this['businessTypesLocalized'] = $businessTypesLocalized;
      $this['communitiesLocalized'] = $communitiesLocalized;
      $this['selectedCommunityId'] = $selectedCommunityId;
    }
?>
==

<input type="hidden" name="locale" value="{{activeLocale}}" ref="locale">
  <div class="platform-content">
    {% partial 'site/nav' useVue=true twoBarNav=true featured=featured type=type %}
    {% partial 'site/sidebarLeft' useVue=true %}
    {% partial 'site/searchBar' useVue=true %}
    {% if featured %}

      <div v-if="tab=='featured'">
        {% component 'featured' featured=featured type=type %}
      </div>

      <input type="hidden" id="model_ids"/>

      <div v-if="tab=='opportunities' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% partial 'site/page-layout' items=opportunities type='opportunity' map='false' title=('tabs.opportunities'|__) %}
      </div>
      <div v-if="tab=='opportunities' && view=='map'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
          <input type="hidden" id="mapSlug" value="investment_opportunity_map">
          {% partial 'site/page-layout' items=opportunities type='opportunity' map='true' mapslug='investment_opportunity_map' title=('tabs.opportunities'|__) %}
      </div>

      <div v-if="tab=='communities' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% partial 'site/page-layout' items=communities type='community' map='false' title=('tabs.communities'|__) %}
      </div>
      <div v-if="tab=='communities' && view=='map'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
          <input type="hidden" id="mapSlug" value="community_map">
          {% partial 'site/page-layout' items=communities type='community' map='true' mapSlug='community_map' title=('tabs.communities'|__) %}
      </div>

      <div v-if="tab=='pointsOfInterest' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% partial 'site/page-layout' items=pointsOfInterest type='pointOfInterest' map='false' title=('tabs.pointsOfInterest'|__) %}
      </div>
      <div v-if="tab=='pointsOfInterest' && view=='map'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
          <input type="hidden" id="mapSlug" value="point_of_interest_map">
          {% partial 'site/page-layout' items=pointsOfInterest type='pointOfInterest' map='true' mapSlug='point_of_interest_map' title=('tabs.pointsOfInterest'|__) %}
      </div>

      <div v-if="tab=='successStories' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% partial 'site/page-layout' items=successStories type='successStory' map='false' title=('tabs.successStories'|__) %}
      </div>
      <div v-if="tab=='successStories' && view=='map'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
          <input type="hidden" id="mapSlug" value="success_stories_map">
          {% partial 'site/page-layout' items=successStories type='successStory' map='true' mapSlug='success_stories_map' title=('tabs.successStories'|__) %}
      </div>

    {% else %}
      <div class="container mt-5">
        <h1>{{'errors.whoopsWrongPath'|__}}</h1>
        <hr>
        <p>{{'errors.incorrectPath'|__}}</p>
      </div>
    {% endif %}
    {% partial 'site/footer' useVue=true %}
  </div>
