title = "Investment platform"
url = "/investment-platform/:type?/:name?"
layout = "app-theme"
description = "The single page investment platform application"
is_hidden = 0

[communitiesList]

[successStoriesList]

[pointsOfInterestList]

[opportunitiesList]

[investmentCard]

[investmentSearch]

[regionsList]

[featured]
==
<?php

    use BL\RegionalInvestment\Models\Region;
    use BL\RegionalInvestment\Models\Community;
    use BL\RegionalInvestment\Models\InvestmentOpportunity;
    use BL\RegionalInvestment\Models\SuccessStory;
    use BL\RegionalInvestment\Models\PointOfInterest;
    
    function onStart(){
      $type = $this->param('type');
      $name = $this->param('name');

      $communities = Community::getLocalized();
      $successStories =  SuccessStory::getLocalized();
      $opportunities = InvestmentOpportunity::getLocalized();
      $pointsOfInterest = PointOfInterest::getLocalized();
      $primary = false;

      if($type =='region'){
        $featured = Region::where('slug', $name)->first();
      } elseif( $type =='community') {
        $featured = Community::where('slug', $name)->first();
      } elseif( $type =='pointOfInterest') {
        $featured = PointOfInterest::where('slug', $name)->first();
      } elseif( $type =='successStory') {
        $featured = Organization::where('slug', $name)->first();
      } elseif( $type =='opportunity') {
        $featured = InvestmentOpportunity::with('business_types')->where('slug', $name)->first();
      } else {
        $type = 'platform';
        $featured = Region::getLocalized()->where('primary', 1)->first();
        $primary = true;
      }

      $this['type'] = $type;
      $this['name'] = $name;
      $this['featured'] = $featured;
      $this['communities'] = $communities;
      $this['opportunities'] = $opportunities;
      $this['successStories'] = $successStories;
      $this['pointsOfInterest'] = $pointsOfInterest;
      $this['primary'] = $primary;
    }
?>
==
<input type="hidden" name="locale" value="{{activeLocale}}" ref="locale">
  <div class="platform-content">
    {% partial 'site/nav' useVue=true twoBarNav=true featured=featured type=type %}
    {% partial 'site/sidebarLeft' useVue=true %}
    {% partial 'site/searchBar' useVue=true %}
    {% if featured %}

      <div v-if="tab=='featured'">
        {% component 'featured' featured=featured type=type %}
      </div>
      <div v-if="tab=='opportunities' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% component 'opportunitiesList' opportunities=opportunities type=type %}
      </div>
      <div v-if="tab=='regions' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% component 'regionsList' regions=regions type=type %}
      </div>
      <div v-if="tab=='communities' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% component 'communitiesList' communities=communities type=type %}
      </div>
      <div v-if="tab=='pointsOfInterest' && view=='list'">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        {% component 'pointsOfInterestList' pointsOfInterest=pointsOfInterest type=type %}
      </div>
      <div v-if="tab=='successStories'">
        {% component 'successStoriesList' successStories=successStories type=type %}
      </div>

      <div v-if="view=='map' && (tab=='regions' || tab=='opportunities' || tab=='communities' || tab=='pointsOfInterest')">
        <a class="btn-floating btn-lg btn-default" @click="switchView">
          <i v-if="view=='list'" class="fa fa-map"></i>
          <i v-if="view=='map'" class="fa fa-list"></i>
        </a>
        <img src="/themes/blupath-theme/assets/images/map_background.jpg" />
      </div>

    {% else %}
      <div class="container mt-5">
        <h1>{{'errors.whoopsWrongPath'|__}}</h1>
        <hr>
        <p>{{'errors.incorrectPath'|__}}</p>
      </div>
    {% endif %}
    {% partial 'site/footer' useVue=true %}
  </div>