@charset "UTF-8";

.primary-text {
  color: #0097a7 !important;
}

.accent-text {
  color: #ff4081;
}

.overlay-text {
  color: #ffffff !important;
}

.overlay-text .fa-bars {
  color: #ffffff !important;
}

.span {
  display: inline !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.nav-link {
  font-size: 0.9em;
  color: #666;
}

.no-shadow {
  box-shadow: none;
}

.platform-content {
  padding-top: 130px;
}

.grid-item {
  width: 200px;
}

.modal-backdrop {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
}

.navbar a {
  color: #212121 !important;
}

navbar-expand-lg {
  display: block;
}

.side-nav-active a {
  color: #ff4081 !important;
}

.navbar-tabs {
  margin-top: 25px;
}

.mm-listitem {
  width: 93%;
  float: right;
}

.list-icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  margin-top: 0.7em;
  margin-left: -12px;
  -webkit-font-smoothing: antialiased;
}

.list-home::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\F015";
}

.list-pages::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\F02D";
}

.list-languages::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\F1AB";
}

.list-euro::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\F153";
}

.list-user::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\F007";
}

a.blog-category-list-item {
  color: black;
}

a.blog-category-list-item.active-primary {
  background-color: #0097a7;
  color: #ffffff !important;
}

ul.post-list {
  list-style-type: none !important;
}

.card.card-cascade.wider {
  background-color: transparent;
  box-shadow: none;
}

.card.card-cascade .view.view-cascade {
  border-radius: 0.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card.card-cascade.wider .view.view-cascade {
  z-index: 2;
}

.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  z-index: 3;
  margin-top: -1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card.card-cascade.wider .card-body.card-body-cascade {
  z-index: 1;
  margin-right: 4%;
  margin-left: 4%;
  background: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-no-shadow {
  box-shadow: none !important;
}

.horizontal-card .card-img-top {
  height: 250px;
  background-size: cover;
  display: block !important;
}

.horizontal-card .card-body {
  display: block !important;
}

@media (min-width: 992px) {
  .horizontal-card .card-img-top {
    height: auto;
    width: 70%;
  }

  .horizontal-card .card-body {
    width: 28%;
  }
}

@media (min-width: 992px) {
  .horizontal-card {
    flex-direction: row !important;
  }
}

.btn-primary {
  background-color: #0097a7 !important;
}

.btn-primary:hover {
  background-color: #00bcd4 !important;
}

.btn-accent {
  background-color: #ff4081;
}

.btn-flat {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #212121;
  color: #212121 !important;
}

.btn-outline i {
  color: #212121 !important;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #00bcd4;
  color: #00bcd4 !important;
}

.btn-outline-primary i {
  color: #00bcd4 !important;
}

.btn-outline-accent {
  background-color: transparent;
  border: 1px solid #ff4081;
  color: #ff4081 !important;
}

.btn-outline-accent i {
  color: #ff4081 !important;
}

.btn-outline-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff !important;
}

.btn-outline-white i {
  color: #ffffff !important;
}

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.btn-floating.btn-lg {
  width: 61.1px;
  height: 61.1px;
}

.btn-floating.btn-lg i {
  font-size: 1.625rem;
  line-height: 61.1px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}

.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
}

.btn-floating {
  position: absolute;
  top: 135;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.img-fluid {
  width: 100%;
}

.img-fixed-height-tall {
  max-height: 620px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #212121 !important;
}

