==
<div class="card card-cascade wider reverse mb-5">
  <!-- Card image -->
  <div class="view view-cascade overlay card-no-shadow">
    <img class="card-img-top card-no-shadow" 
      style="width: 100%; max-height: 620px; object-fit: cover;"
      src="{{ featured.photo|media }}"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="container">
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>{{featured.name}}</strong></h4>

      <hr>
      {% if featured.business_types %}
        <strong>Type: </strong>
        {% for business_type in featured.business_types %}
          {{ business_type.name }}
        {% endfor %}
      {% endif %}

      {% if featured.investment_target %}
        <strong>{{'investment.investmentTarget'|__}}</strong> €{{featured.investment_target}}
        <br>
      {% endif %}      
      <hr>

      <!-- Tabs -->
      <ul class="nav nav-tabs md-tabs" id="featuredTabs" role="tablist">

        <li class="nav-item waves-effect waves-light">
          <a 
            class="nav-link active" 
            id="overview-tab" 
            data-toggle="tab" 
            href="#overview" 
            role="tab" 
            aria-controls="overview" 
            aria-selected="true">
            {{'featured.overview'|__}}
          </a>
        </li>

        {% if featured.email or featured.phone or featured.contact_details %}
        <li class="nav-item waves-effect waves-light">
          <a 
            class="nav-link" 
            id="contact-tab" 
            data-toggle="tab" 
            href="#contact" 
            role="tab" 
            aria-controls="contact" 
            aria-selected="true">
            {{'featured.contact_details'|__}}
          </a>
        </li>
        {% endif %}

        <li class="nav-item waves-effect waves-light">
          <a 
            class="nav-link" 
            id="location-tab" 
            data-toggle="tab" 
            href="#location" 
            role="tab" 
            aria-controls="location" 
            aria-selected="true">
            {{'featured.location'|__}}
          </a>
        </li>

        {% if featured.sections %}
          {% for section in featured.sections %}
            <li class="nav-item waves-effect waves-light">
              <a 
                class="nav-link" 
                id="{{section.slug}}-tab" 
                data-toggle="tab" 
                href="#{{section.slug}}" 
                role="tab" 
                aria-controls="{{section.slug}}" 
                aria-selected="true">
                {{section.name}}
              </a>
            </li>
          {% endfor %}
        {% endif %}

        {% if featured.points_of_interest and featured.points_of_interest != '[]' %}
          <li class="nav-item waves-effect waves-light">
            <a 
              class="nav-link" 
              id="success-tab" 
              data-toggle="tab" 
              href="#pois" 
              role="tab" 
              aria-controls="pois" 
              aria-selected="true">
              {{'featured.pois_title'|__}}
            </a>
          </li>
        {% endif %}

        {% if featured.success_stories and featured.success_stories != '[]' %}
          <li class="nav-item waves-effect waves-light">
            <a 
              class="nav-link" 
              id="success-tab" 
              data-toggle="tab" 
              href="#success" 
              role="tab" 
              aria-controls="success" 
              aria-selected="true">
              {{'featured.success_stories_tab_title'|__}}
            </a>
          </li>
        {% endif %}

        {% if featured.photos %}
          <li class="nav-item waves-effect waves-light">
            <a 
              class="nav-link" 
              id="gallery-tab" 
              data-toggle="tab" 
              href="#gallery" 
              role="tab" 
              aria-controls="gallery" 
              aria-selected="true">
              {{'common.gallery'|__}}
            </a>
          </li>
        {% endif %}

      </ul>

      <!-- Tab content -->
      <div class="tab-content my-3" id="myTabContent">
        
        <div 
          class="tab-pane fade show text-left card-text active" 
          id="overview" 
          role="tabpanel" 
          aria-labelledby="overview-tab">

          <div class='card-text text-left mt-5'>
            {% if featured.video_id %}
              {% partial 'components/youtube' id=featured.video_id %}<br>
            {% endif %}
            {{featured.description|raw}}

            <input type='hidden' id="ioid" value="{{featured.id}}" ref="ioid" >
          </div>
          <div class="text text-center">
            {% if (featured.website) %}
              <a class="btn btn-outline-accent btn-flat" href="{{featured.website}}">{{'common.visitSite'|__}}</a>
            {% endif %}
            <save-favorites-button name=name></save-favorites-button>
          </div>
        </div>
      
        {% if featured.email or featured.phone or featured.contact_details %}
          {% partial 'site/investmentContact' featured=featured %}<br>
        {% endif %}
      
          <div 
            class="tab-pane fade show" 
            id="location" 
            role="tabpanel" 
            aria-labelledby="location-tab">
            {% component 'mapMarkers' mapSlug=mapSlug itemIds="1" %}
          </div>

        {% if featured.sections %}
          {% for section in featured.sections %}
            <div 
              class="tab-pane fade show text-left card-text" 
              id="{{section.slug}}" 
              role="tabpanel" 
              aria-labelledby="{{section.slug}}-tab">
            {{section.description|raw}}
            </div>
          {% endfor %}
        {% endif %}

        {% if featured.points_of_interest and featured.points_of_interest != '[]' %}
          <div 
            class="tab-pane fade show" 
            id="pois" 
            role="tabpanel" 
            aria-labelledby="pois-tab">
            {% partial 'components/accordion' sections=featured.points_of_interest title='pois-accordion' %}
          </div>
        {% endif %}

        {% if featured.success_stories %}
          <div 
            class="tab-pane fade show" 
            id="success" 
            role="tabpanel" 
            aria-labelledby="success-tab">
            {% partial 'components/accordion' sections=featured.success_stories title='success-stores-accordion' %}
          </div>
        {% endif %}

        {% if featured.photos %}
          {% partial 'site/featuredGallery' photos=featured.photos %}<br>
        {% endif %}

      </div>
    </div>
  </div>
</div>