
    <script src="{{ [
        'assets/js/app.jquerybootstrap.js',
        'assets/js/mdb.min.js',
        'assets/mmenu/dist/mmenu.js',
        'assets/mmenu/dist/mmenu.polyfills.js',
        'assets/js/masonry-layout-vanilla.min.js',
        'assets/js/moment.min.js',
        'assets/js/bootstrap-material-datetimepicker.min.js',
        'assets/js/app.js',
        'assets/js/featherlight.js',
        'assets/js/vue.js',
    ]|theme }}"></script>

    {% framework extras %}
    {% scripts %}

</body>
</html>
