    {% if useVue == true %}

        <script src="{{ [
            'assets/js/jquery-3.1.1.min.js',
            'assets/js/popper.min.js',
            'assets/js/bootstrap.min.js',
            'assets/js/mdb.min.js',
            'assets/mmenu/dist/mmenu.js',
            'assets/mmenu/dist/mmenu.polyfills.js',
            'assets/js/masonry-layout-vanilla.min.js',
            'assets/js/moment.min.js',
            'assets/js/bootstrap-material-datetimepicker.min.js',
            'assets/js/app.js',
            'assets/js/vue.js',
            'assets/js/vue-init.js',
            'assets/js/featherlight.js',
        ]|theme }}"></script>

    {% else  %}

        <script src="{{ [
            'assets/js/jquery-3.1.1.min.js',
            'assets/js/popper.min.js',
            'assets/js/bootstrap.min.js',
            'assets/js/mdb.min.js',
            'assets/mmenu/dist/mmenu.js',
            'assets/mmenu/dist/mmenu.polyfills.js',
            'assets/js/moment.min.js',
            'assets/js/bootstrap-material-datetimepicker.min.js',
            'assets/js/app.js'
        ]|theme }}"></script>

    {% endif %}
    {% framework extras %}
    {% scripts %}

</body>
</html>
