<!-- Card -->
<div class="card horizontal-card mb-5">

  <!-- Card image -->
  <div class="card-img-top" style="background-image: url('{{item.photo|media}}')" alt="Card image cap"></div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>{{item.name}}</a></h4>
    <!-- Text -->
    <div class="card-text">{{ str_limit(item.description, 512)|raw}}</div>
    <!-- Button -->
    {% if modal %}
    <a class="btn btn-flat btn-outline-accent" data-toggle="modal" data-target="#{{item.slug}}Modal">
      {{'common.more'|__}}
    </a>
    {% else %}
      <a href="{{ 'investment-platform'|page({ type: type, name: item.slug }) }}" class="btn btn-flat btn-outline-accent">
        {{'common.more'|__}}
      </a>
    {% endif %}
  </div>
</div>

{% if modal %}
<!-- Modal -->
<div class="modal fade" id="{{item.slug}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{item.slug}}Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{item.slug}}Label">{{item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if item.photo %}
        <img src="{{item.photo|media}}" style="width: 100%;" class="mb-2"/>
        {% endif %}
        {{item.description|raw}}
      </div>
      <div class="modal-footer">
        <a class="btn btn-flat btn-outline-accent" data-dismiss="modal">{{'common.close'|__}}</a>
        <a class="btn btn-flat btn-outline-accent" href="{{ 'investment-platform'|page({ type: type, name: item.slug }) }}">{{'common.seeDetails'|__}}</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop modal-backdrop-2 fade"></div>
{% endif %}