<!-- Card -->
<div class="card mb-5">

  <!-- Card image -->
  <img class="card-img-top investment-card-img-top" src="{{opportunity.photo|media}}" alt="Card image cap"></img>

  <!-- Card content -->
  <div class="card-body investment-card-body">

    <!-- Title -->
    <h4 class="card-title"><a>{{opportunity.name}}</a></h4>
    <!-- Text -->
    <div class="card-text">
      {% if opportunity.investment_target %}
        <strong>{{'investment.investmentTarget'|__}}</strong> €{{opportunity.investment_target}}
        <br>
      {% endif %}
      <strong>Type: </strong>
      {% for business_type in opportunity.business_types %}
        {{ business_type.name }} 
      {% endfor %}
      <hr>
      {{ str_limit(opportunity.short_description, 256)|raw}}
    </div>
    <!-- Button -->
    {% if modal %}
    <a class="btn btn-flat btn-outline-accent" data-toggle="modal" data-target="#{{opportunity.slug}}Modal">
      {{'common.more'|__}}
    </a>
    {% else %}
      <a href="{{ 'investment-platform'|page({ type: type, name: opportunity.slug }) }}" class="btn btn-flat btn-outline-accent">
        {{'common.more'|__}}
      </a>
    {% endif %}
  </div>
</div>

{% if modal %}
<!-- Modal -->
<div class="modal fade" id="{{opportunity.slug}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{opportunity.slug}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px">
    <div class="modal-content px-2 py-2">
      <div class="modal-header">
        <h5 class="modal-title" id="{{opportunity.slug}}Label">{{opportunity.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="font-size: 0.9em">
          <div class="card-text">
            {% if opportunity.investment_target %}
              <strong>{{'investment.investmentTarget'|__}}</strong> €{{opportunity.investment_target}}
              <br>
            {% endif %}
          </div>
          <hr>
          {{opportunity.description|raw}}
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-flat btn-outline-accent" data-dismiss="modal">{{'common.close'|__}}</a>
        <a class="btn btn-flat btn-outline-accent" href="{{ 'investment-platform'|page({ type: type, name: opportunity.slug }) }}">{{'common.seeDetails'|__}}</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop modal-backdrop-2 fade"></div>
{% endif %}