[viewBag]

[localePicker]
forceUrl = 0

[staticMenu]
code = "main-menu"
==
<!--Navbar-->
{% if transparentNavbar == true %}
    <nav class="navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="display: block;">
{% else %}
    <nav class="navbar navbar-expand-lg navbar scrolling-navbar fixed-top scrolling-navbar background-primary" style="display: block;">
{% endif %}

    <!-- Navbar brand -->
    
    <a 
        class="{% if transparentNavbar == true %} overlay-text ml-1 {% endif %}" href="#menu"
        >
        <button 
            type="button" 
            aria-label="Side-nav toggle" 
            class="btn-flat mr-3" 
            id="left-nav-toggle"
            >
            <i class="fa fa-bars ml-1"></i>
        </button>
    </a>
    <a 
        class="navbar-brand mr-0" 
        href="{{ 'investment-platform'|page({ type: '', name: ''}) }}"
        >
        {{'common.siteTitle'|__}}
    </a>

    {% if (featured) %}\ {{featured.name}} {% endif %}

    <!-- Collapsible content -->
    {% if true %}
    <div 
        class="collapse navbar-collapse" 
        id="navbarSupportedContent" 
        style="float: right; width: 50%;"
        >
        <ul class="navbar-nav ml-auto">

            <ul class="navbar-nav mr-auto">
            {% if staticMenu.menuItems %}
            {% set items = staticMenu.menuItems %}
            <!-- Links -->
                {% for item in items %}
                    <li class="nav-item {{ item.isActive or item.isChildActive ? 'active' : '' }} {{ item.items ? 'dropdown btn-group' : '' }}" >
                        <a class="{% if transparentNavbar == true %} overlay-text {% endif %} nav-link {% if item.items %}'dropdown-toggle' {% endif %}" {% if item.items %} id="dropdownMenu{{ item.title|replace({' ':'-'}) }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %} href="{{ item.url }}" >
                            
                            {{ item.title }}
                            {% if item.items %}<span class="sr-only">(current)</span>{% endif %}
                        </a>

                        {% if item.items %}
                            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu{{ item.title|replace({' ':'-'}) }}">
                                {% for child in item.items %}
                                    <a class="{% if transparentNavbar == true %} overlay-text {% endif %} dropdown-item" href="{{ child.url }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
            <!-- Links -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if transparentNavbar == true %} overlay-text {% endif %}" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{'common.language'|__}}</a>
                    <div class="dropdown-menu dropdown-primary" {% if transparentNavbar == true %} style="background-color: transparent; border: none;" {% endif %} aria-labelledby="navbarDropdownMenuLink">
                    {% for code, name in locales %}
                        <a data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" class="dropdown-item {% if transparentNavbar == true %} overlay-text {% endif %}" href="#">{{ name }}</a>
                    {% endfor %}
                </div>
            </li>

            <!-- Search button -->
            {% if twoBarNav==true %}
                <button 
                    v-if="tab=='opportunities'" 
                    type="button" 
                    class="btn-flat mr-2" 
                    data-toggle="modal" 
                    data-target="#search-modal">
                        <i class="fa fa-search ml-1"></i>
                </button>
                {% partial 'platform/investmentSearch' %}
            {% endif %}
            <!-- Collapsible content -->
        </ul>
        <!-- Links -->
    </div>
    {% endif %}

    {% if twoBarNav==true %}
        <div>
            {% partial 'site/navTabs' featured=featured type=type %}
        </div>
    {% endif %}
</nav>
<!--/.Navbar-->