<ul class="nav nav-tabs navbar-tabs" id="myTab" role="tablist">
    <li class="nav-item" @click="setTab('featured')">
        <a class="nav-link active" id="featured-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="false">{% if(featured) %}{{featured.name}} {% else %} Home {% endif %}</a>
    </li>
    {% if type=='region' or type=='community' or type=='platform' %}
        <li class="nav-item" @click="setTab('opportunities')">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="true">{{'tabs.opportunities'|__}}</a>
        </li>
        {% if (not type=='region' or not type=='community') %}
        <li class="nav-item" @click="setTab('regions')">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">{{'tabs.regions'|__}}</a>
        </li>
        {% endif %}
        {% if not (type=='community') %}
        <li class="nav-item" @click="setTab('communities')">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">{{'tabs.communities'|__}}</a>
        </li>
        {% endif %}
        <li class="nav-item" @click="setTab('pointsOfInterest')">
            <a class="nav-link" id="pointOfInterest-tab" data-toggle="tab" href="#pointOfInterest" role="tab" aria-controls="contact"
            aria-selected="false">{{'tabs.pointsOfInterest'|__}}</a>
        </li>
        <li class="nav-item" @click="setTab('organizations')">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">{{'tabs.organizations'|__}}</a>
        </li>
    {% endif %}
</ul>