<!--Main layout-->
<div class="{% if map =='false' %} container mt-5 {% else %} mx-5 my-5 {% endif %}">
    <div class="row">

        <!--Main column-->
        <div class="col-lg-12">
            <h1>{% if(primary != true) %}{{featured.name}}: {% endif %}{{title}}</h1>
            <hr class="pb-2">
        </div>

        {% if map=='false' %}
        <div id="pagination_content" class="row">
            {% set itemsData = items.data ? items.data : items %}
            {% partial "components/pagination_content" items=itemsData type=type %}
        </div>
        {% else %}
            {% component 'mapMarkers' mapSlug=mapSlug %}
        {% endif %}
    </div>
    {% if map=='false' and items.data %}
        <div id="pagination_nav" class="row">
            {% partial "components/pagination_nav" results=items %}
        </div>
    {% endif %}
</div>
