<!--Main layout-->
<div class="{% if map =='false' %} container mt-5 {% else %} mx-5 my-5 {% endif %}">
    <div class="row">

        <!--Main column-->
        <div class="col-lg-12">  
            <h1>{% if(primary != true) %}{{featured.name}}: {% endif %}{{title}}</h1>          
            <hr class="pb-2">
        </div>

        {% if map=='false' %}
            {% if type=='opportunity' %}
                {% for opportunity in items %}
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        {% partial 'site/investmentCard' opportunity=opportunity type='opportunity' modal=true %}
                    </div>
                {% endfor %}
            {% else %}
                {% for item in items %}
                    {% partial 'site/horizontalCard' item=item type=type %}
                {% endfor %}
            {% endif %}

        {% else %}
            {% component 'mapMarkers' mapSlug=mapSlug %}
        {% endif %}
    </div>
</div>