<!--Main layout-->
<div
    class="{% if map =='false' %} container mt-5 {% else %} mx-5 my-5 {% endif %}"
>
    <div class="row no-gutters">
        <!--Main column-->
        <div class="col-lg-12">
            <h1>
                {% if(primary != true) %}{{featured.name}}: {% endif %}{{title}}
            </h1>
            <hr class="pb-2" />
        </div>

        {% if map=='false' %}
        <div class="row no-gutters w-100">
            <div
                class="{% if type =='opportunity' %} col-12 col-md-8 pr-md-5 order-last order-md-first  {% else %} col-12 {% endif %}"
            >
                <div id="pagination_content" class="row">
                    {% set itemsData = items.data ? items.data : items %} {%
                    partial "components/pagination_content" items=itemsData
                    type=type %}
                </div>
            </div>
            <div
                class="{% if type =='opportunity' %} col-12 col-md-4 order-first order-md-last {% else %} d-none {% endif %}"
            >
                {% partial 'site/investmentSearch' %}
            </div>
        </div>
        {% else %} 
            {% component 'mapMarkers' mapSlug=mapSlug %}
        {% endif %}
    </div>
    {% if map=='false' and items.data %}
    <div class="row">
        <div class="col-12 col-md-8" id="pagination_nav">
            {% partial "components/pagination_nav" results=items %}
        </div>
    </div>
    {% endif %}
</div>
