[staticMenu]
code = "main-menu"

[localePicker]
forceUrl = 0

[viewBag]
==
<nav id="menu">
    <ul>
        <li>
          <span style="width: 24px; max-width: 36px; text-align: center;">
            <i class="fa fa-home"></i>
          </span>
          <a href="/">{{'common.siteTitle'|__}}</a>
        </li>

        <li>
          <span>
            <span style="width: 24px; max-width: 36px; text-align: center;">
              <i class="fa fa-user {% if user %} accent-text {% endif %}"></i>
            </span>
            <span style="padding-left: 20px;">{{'side-nav.investor-pages'|__}}</span>
          </span>
          <ul>
            {% if user %}
              <li><a href="/profile">{{'user.profile'|__}}</a></li>
              <li><a data-request="onLogout" data-request-data="redirect: '/login'">{{'user.logout'|__}}</a></li>
            {% else %}
              <li><a href="/register">{{'user.register'|__}}</a></li>
              <li><a href="/login">{{'user.login'|__}}</a></li>
              <li><a href="/forgot-password">{{'user.forgot password'|__}}</a></li>
            {% endif %}
          </ul>
        </li>

        <li>
          <span>
            <span style="width: 24px; max-width: 36px; text-align: center;">
              <i class="fa fa-euro"></i>
            </span>
            <span style="padding-left: 20px;">{{'side-nav.investment-platform'|__}}</span>
          </span>
          <ul>
              <li><a href="/about/history">{{'platform.main-page'|__}}</a></li>
              <li><a href="/about/history">{{'platform.regions'|__}}</a></li>
              <li><a href="/about/history">{{'platform.communities'|__}}</a></li>
              <li><a href="/about/history">{{'platform.organizations'|__}}</a></li>
          </ul>
        </li>

        <li>
          <span>
            <span style="width: 24px; max-width: 36px; text-align: center;">
              <i class="fa fa-globe"></i>
            </span>
            <span style="padding-left: 20px;">{{'side-nav.pages'|__}}</span>
          </span>
          <ul>
            {% if staticMenu.menuItems %}
            {% set items = staticMenu.menuItems %}
              {% for item in items %}
                <li class=" {{ item.isActive or item.isChildActive ? 'side-nav-active' : '' }}">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>

        <li>
          <span>
            <span style="width: 24px; max-width: 36px; text-align: center;">
              <i class="fa fa-flag"></i>
            </span>
            <span style="padding-left: 20px;">{{'common.language'|__}}</span>
          </span>
          <ul>
            {% for code, name in locales %}
                <li><a data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" href="#">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>


    </ul>
</nav>