[staticMenu]
code = "main-menu"

[localePicker]
forceUrl = 0

[viewBag]
==
  <?php
    use BL\RegionalInvestment\Models\Community;
    use BL\RegionalInvestment\Models\InvestmentOpportunity;
    
    function onStart(){
      $this['communities'] = Community::getLocalized();
      $this['opportunities'] = InvestmentOpportunity::getLocalized();
    }
  ?>
==
<nav id="menu" class="hidden">
    <ul>
        <li class="list-icon list-home">
          <a href="/">{{'common.home'|__}}</a>
        </li>

        <li class="list-icon list-user">
          <span>{{'side-nav.investor-pages'|__}}</span>
          <ul>
            {% if user %}
              <li><a href="/profile">{{'user.profile'|__}}</a></li>
              <li><a data-request="onLogout" data-request-data="redirect: '/login'">{{'user.logout'|__}}</a></li>
            {% else %}
              <li><a href="/register">{{'user.register'|__}}</a></li>
              <li><a href="/login">{{'user.login'|__}}</a></li>
              <li><a href="/forgot-password">{{'user.forgot password'|__}}</a></li>
            {% endif %}
          </ul>
        </li>

        <li class="list-icon list-euro">
          <span>{{'side-nav.investment-platform'|__}}</span>
          <ul>
              <li><a href="/investment-platform">{{'platform.main-page'|__}}</a></li>
              <li><span style="padding-left: 20px;">{{'platform.communities'|__}}</span>
                <ul>
                  {% for community in communities %}
                    <li><a href="{{ 'investment-platform'|page({ type: 'community', name: community.slug}) }}/">{{community.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li><span style="padding-left: 20px;">{{'platform.investmentOpportunities'|__}}</span>
                <ul>
                  {% for opportunity in opportunities %}
                    <li><a href="{{ 'investment-platform'|page({ type: 'opportunity', name: opportunity.slug }) }}">{{opportunity.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
          </ul>
        </li>

        <li class="list-icon list-pages">
          <span>{{'side-nav.pages'|__}}</span>
          <ul>
            {% if staticMenu.menuItems %}
            {% set items = staticMenu.menuItems %}
              {% for item in items %}
                <li class=" {{ item.isActive or item.isChildActive ? 'side-nav-active' : '' }}">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>

        <li class="list-icon list-languages">
          <span>{{'common.language'|__}}</span>
          <ul>
            {% for code, name in locales %}
                <li><a data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" href="#">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>


    </ul>
</nav>