a.blog-category-list-item {
    color: $black-darker;
}
a.blog-category-list-item.active-primary {
    background-color: $primary-dark;
    color: $white !important;
}
ul.post-list {
    list-style-type: none !important;
}
