.no-shadow {
    box-shadow: none;
}
.platform-content {
    padding-top: 130px;
}
.grid-item {
    width: 200px;
}
.modal-backdrop {
    display: none;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.hidden {
    display: none;
}
.md-tabs {
    position: relative;
    z-index: 1;
    padding: 0.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #2bbbad;
    border: 0;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: .25rem;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.md-tabs .nav-link {
    color: #fff;
    border: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}