.no-shadow {
    box-shadow: none;
}
.platform-content {
    padding-top: 130px;
}
.grid-item {
    width: 200px;
}
.modal-backdrop {
    display: none;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.hidden {
    display: none;
}
