.navbar {
    background-color: $white !important;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
    a {
        color: $black !important;
    }
}

.side-nav-active a {
    color: $accent !important;
}
