.navbar {
    background-color: $white !important;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
    a {
        color: $black !important;
    }
}
navbar-expand-lg {
    display: block;
}
.side-nav-active a {
    color: $accent !important;
}
.navbar-tabs {
    margin-top: 25px;
}
.mm-listitem {
    width: 93%;
    float: right;
}
.list-icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-top: 0.7em;
    margin-left: -12px;
    -webkit-font-smoothing: antialiased;
}
.list-home::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f015";
}
.list-pages::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f02d";
}
.list-languages::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f1ab";
}
.list-euro::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f153";
}
.list-user::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f007";
}
