.investment-card-img-top {
    object-fit: cover;
}

@media (min-width: 576px) {
    .investment-card-img-top {
        height: 250px;
    }
}

@media (min-width: 768px) {
    .investment-card-img-top {
        height: 150px;
    }
    .investment-card-body {
        height: 350px;
        overflow: auto;
    }
}

@media (min-width: 992px) {
    .investment-card-img-top {
        height: 150px;
    }
    .investment-card-body {
        height: 350px;
        overflow: auto;
    }
}
