.primary-text {
    color: $primary-dark !important;
}
.accent-text {
    color: $accent !important;
}
.overlay-text {
    color: $white !important;
}
.overlay-text .fa-bars {
    color: $white !important;
}
.span {
    display: inline !important;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.nav-link {
    font-size: 0.9em;
    color: #666;
}
