$black-darker: black;
$black: #212121;
$black-lighter: #444;
$black-lighter-2: #757575;
$black-lighter-3: #bdbdbd;
$black-lighter-4: #f2f2f2;
$white: #ffffff;

$primary: #4c8ba7;
$primary-dark: #0097a7;
$primary-light: #b2ebf2;
$accent: #ff4081;

$background: #ffffff;
