description = "Layout for registration pages"

[localePicker]
forceUrl = 0

[account]
redirect = "RegistrationConfirmation"
paramCode = "/activation-successful/:code"
forceSecure = 0
==
{% partial 'site/head' %}
<div id="app">
    {% partial 'site/nav' transparentNavbar=true %}
    {% partial 'site/sidebarLeft' useVue=true %}
    <div class="hm-black-light"
        style="background: url('/storage/app/media/Troodos-Register.jpg')
                no-repeat top center fixed; background-size: cover;">
        <div class="full-bg-img">
            <div class="container">
                {% page %}
            </div>
        </div>
    </div>
    {% partial 'site/footer' useVue=false %}
</div>
{% partial 'site/foot' useVue=false %}
{% flash %}
    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
{% endflash %}
<script>
    $(window).on('ajaxErrorMessage', function(event, message){

        // This can be any custom JavaScript you want
        alert('Something bad happened, mate, here it is: ' + message);

        // This will stop the default alert() message
        event.preventDefault();

    })
</script>