<h5>{{council.name}}</h5>
{% if (council.photo) %}
  <img class="img-fluid" src="{{council.photo|media}}" />
{% endif %}
{{council.description|raw}}
<hr>
{% if (council.strongail) %}
  <strong>{{'common.primaryEmail'|__}}:</strong> {{ council.strongail }} <br>
{% endif %}
{% if (council.phone) %}
  <strong>{{'common.primaryPhone'|__}}:</strong> {{ council.phone }} <br>
{% endif %}
{% if (council.website) %}
  <strong>{{'common.primaryWebsite'|__}}:</strong> <a href={{ council.website }}>{{ council.website }}</a> <br>
{% endif %}
{% if (council.contact_details) %}
  <strong>{{'common.otherContactDetails'|__}}:</strong> {{ council.contact_details|raw }}</a> <br>
{% endif %}
