<div class="card card-cascade wider reverse mb-5">
  <!-- Card image -->
  <div class="view view-cascade overlay card-no-shadow">
    <img class="card-img-top card-no-shadow" 
      style="width: 100%; max-height: 650px; object-fit: cover;"
      src="{{ featured.photo|media }}"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="container">
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>{{featured.name}}</strong></h4>

      <hr>
      {% for business_type in featured.business_types %}
        {{ business_type.name }}
      {% endfor %}

      {% if featured.investment_target %}
        <strong>{{'investment.investmentTarget'|__}}</strong> €{{featured.investment_target}}
        <br>
      {% endif %}

      {% if featured.video_id %}
        {% partial 'components/youtube' id=featured.video_id %}
      {% endif %}
      
      <hr>

      <!-- Subtitle -->
      <div class='card-text text-left'>
        {{featured.description|raw}}
      </div>
      <div class="text">
        {% if (featured.website) %}
          <a class="btn btn-outline-accent btn-flat" href="{{featured.website}}">{{'common.visitSite'|__}}</a>
        {% endif %}
        <a class="btn btn-outline-accent btn-flat">{{'common.save'|__}}</a>
        <a class="btn btn-outline-accent btn-flat">{{'common.email'|__}}</a>
      </div>
      
      <!-- Card tabs -->
      {% set x = 1 %}
      {% set y = 1 %}

      {% if featured.sections or featured.photos %}
        <ul class="nav nav-tabs" id="featuredTabs" role="tablist">
          {% if featured.sections %}
            {% for section in featured.sections %}
              <li class="nav-featured">
                <a 
                  class="nav-link {% if x == 1 %} active {% endif %}" 
                  id="{{section.slug}}-tab" 
                  data-toggle="tab" 
                  href="#{{section.slug}}" 
                  role="tab" 
                  aria-controls="{{section.slug}}" 
                  aria-selected="true">
                  {{section.name}}
                </a>
              </li>
              {% set x = x + 1 %}
            {% endfor %}
          {% endif %}

          {% if featured.photos %}
            <li class="nav-featured">
              <a 
                class="nav-link {% if x == 1 %} active {% endif %}" 
                id="gallery-tab" 
                data-toggle="tab" 
                href="#gallery" 
                role="tab" 
                aria-controls="gallery" 
                aria-selected="true">
                {{'common.gallery'|__}}
              </a>
            </li>
            {% set x = x + 1 %}
          {% endif %}

        </ul>
      {% endif %}

      {% if featured.sections or featured.photos %}
        <div class="tab-content" id="myTabContent">
          {% if featured.sections %}
            {% for section in featured.sections %}
              <div 
                class="tab-pane fade show text-left card-text {% if y == 1 %} active {% endif %}" 
                id="{{section.slug}}" 
                role="tabpanel" 
                aria-labelledby="{{section.slug}}-tab">
              {{section.description|raw}}
              </div>
              {% set y = y + 1 %}
            {% endfor %}
          {% endif %}

          {% if featured.photos %}
            {% put scripts %}
              <script type="text/javascript" src="/themes/blupath-theme/assets/js/masonry-init.js"></script>
            {% endput %}
            <div 
              class="tab-pane fade show {% if y == 1 %} active {% endif %}" 
              id="gallery" 
              role="tabpanel" 
              aria-labelledby="gallery-tab">
              <div class="wrapper-masonry">
                <div id="masonry-image">
                {% for photo in featured.photos %}
                  <img class="image" style="cursor: pointer;" data-featherlight="{{photo.photos|media}}" src="{{photo.photos|media}}" />
                {% endfor %}
                </div>
              </div>
            </div>
            {% set y = y + 1 %}
          {% endif %}

        </div>
      {% endif %}
      
    </div>
  </div>
</div>