{% set lastPage = results.last_page %}
{% set currentPage = results.current_page %}

{# See also perPageDefault in InvestmentOpportunity #}
{% set perPageDefault = 10 %}

<form class="w-100">
<nav aria-label="Page navigation" class="w-100">
    <div class="float-left mb-3" style="display: inline-block;">
        <span>Show per page</span>
        <select name="per_page" class="browser-default custom-select" data-request="onFilterItems"
                       data-request-data="page: '1'" data-request-form="form">
          <option {{per_page == perPageDefault ? 'selected' : ''}} value="{{perPageDefault}}">{{perPageDefault}}</option>
          <option {{per_page == 25 ? 'selected' : ''}} value="25">25</option>
          <option {{per_page == 50 ? 'selected' : ''}} value="50">50</option>
        </select>
    </div>

    {% if lastPage > 1 %}

    <div class="float-right mb-3" style="display: inline-block;">
        <ul class="pagination pg-teal justify-content-end mb-0" style="padding-top: .375rem; padding-bottom: .375rem;">

            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link " href="#" data-request="onFilterItems"
                    data-request-data="page: '{{currentPage - 1}}'" data-request-form="form">Previous</a>
                </li>
            {% endif %}
            {% set left_border = currentPage <= 3 ? 3 : currentPage - 2  %}
            {% set right_border = currentPage > lastPage - 3 ? lastPage - 3 : currentPage + 2  %}
            {% set open = false %}
            {% set close = false %}
            {% for page in 1..lastPage %}
                {% if (page <= 4) or ((page >= left_border ) and (page <= right_border )) or (page > lastPage - 4)   %}
                    {% set open = true %}
                    {% set close = false %}
                    <li class="page-item {{ currentPage == page ? 'active' : null }}">
                        <a
                                class="page-link"
                                href="#" data-request="onFilterItems"
                                data-request-data="page: '{{page}}'" data-request-form="form">
                            {{ page }} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {%else%}
                    {% set close = true %}
                {%endif%}

                {% if (open and close) %}
                {% set open = false %}
                {% set close = false %}
                <li class="page-item disabled">
                    <span>...</span>
                </li>
                {% endif %}
            {% endfor %}

            {% if lastPage > currentPage %}
                <li class="page-item">
                    <a href="#" data-request="onFilterItems"
                    data-request-data="page: '{{currentPage + 1}}'" data-request-form="form" class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% endif %}

</nav>
</form>

